
#projects {
    padding: 60px 20px;
    background-color: #f8f8f8;
    text-align: center; 
}

#projects h2 {
    font-size: 2rem;
    margin-bottom: 30px; 
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

.project-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-card p {
    margin-bottom: 20px;
}

.project-card a {
    text-decoration: none;
    color: #1e90ff;
    font-weight: bold;
}
